.title {
    padding: 30px 30px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    color: white;
    position: relative;
    font-size: 20px;
    background: #1569a8;
    margin-bottom: -1px;
    border-bottom: 1px solid #0e4671;
    text-align: left;
}

.title::after {
    content: "+";
    font-size: 18px;
    color: white;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    right: 30px;
    font-family: monospace;
}

.title.is-expanded {
    transition: background 0.5s;
    background: #0e4671;
}

.title.is-expanded::after {
    content: "-";
    transform: rotate(-360deg);
}

.content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    margin: 0;
    padding: 0 30px;
    border: solid 1px #eee;
    border-top: 0;
    background: #e8f4fc;
}

.content p {
    padding: 30px 0;
    margin: 0;
    opacity: 0;
    transition: 0.5s;
}

.content.is-expanded {
    max-height: 500px;
    overflow: hidden;
}

.content.is-expanded p {
    opacity: 1;
}

